
'.source.mg, .source.magma, .source.mgm' :
    'Loop':
        'prefix': 'loop'
        'body': 'loop ${1:array} with ${2:iter} {\n\t$0\n}'
        'description': 'For Loop'
    'If':
        'prefix': 'if'
        'body': 'if (${1:condition}) {\n\t$0\n}'
        'description': 'If Conditional'
    'Function':
        'prefix': 'fun'
        'body': 'fun ${2:name}(${3:param}) {\n\t$0\n}'
        'description': 'For Loop'
    'Log':
        'prefix': 'log'
        'body': 'log($0)'
        'description': 'Log Function'
    'Class':
        'prefix': 'idea'
        'body': 'idea ${1:Name} {\n\tfun setup(${2:params}) {\n\t\t$0\n\t}\n}'
        'description': 'Class'
    'Tree':
        'prefix': 'unit'
        'scope': 'magma, soruce.magma'
        'body': 'unit ${1:Name} {\n\t$0\n}'
        'description': 'Unit'
